nest_asyncio
fastapi
pydantic
requests
streamlit
urllib3
pandas
matplotlib
#json
dotenv
ibm-watson-machine-learning
pandasql
langchain_community
googletrans
replicate
ollama

# Classifier
opencv-python 
scikit-image 
scikit-learn 
joblib 
openpyxl